<h1>My bookings:</h1>

<div class="card">
<strong>Start Date: <%= @booking.start %></strong> | <strong>End Date: <%= @booking.end %></strong>

  <h4><strong><%= @booking.bot.name %></strong></h4>
  <p><%= @booking.bot.description %></p>
  <h4><b>Total: $<%= (@booking.end - @booking.start).to_i * @bot.price %></b></h4>

  <div class="booking-image"><br>
    <img src= <%= @booking.bot.photo %> alt="Your Bot photo" width="1000" class="img-responsive">
  </div>
</div>
