
<div class="container-listing">
  <br>
  <h2><strong>Congratulations, your booking has been confirmed!</strong></h2><br>
  <h3><strong>Your booking summary</strong></h3><br>

  <strong>Start Date: <%= @booking.start %></strong> | <strong>End Date: <%= @booking.end %></strong>

  <h4><strong><%= @booking.bot.name %></strong></h4>
  <p><%= @booking.bot.description %></p>
  <h4><b>Total: $<%= (@booking.end - @booking.start).to_i * @booking.bot.price %></b></h4>

  <div class="booking-image"><br>
   <%= cl_image_tag @booking.bot.photo.key, class:"card__img" %>
  </div>
   <%= link_to 'Check all your bookings', bookings_path%>
</div>
