<br>
<h2 class="text-center"><strong>🚀 Votre réservation a été confirmée! 🚀</strong></h2>
<br>
<div class="container">
  <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">🤖 Récapitulatif:</th>
          </tr>
        </thead>
          <tbody class="table-group-divider">
          <tr>
            <th scope="row">Nom:</th>
            <td><%= @booking.bot.name %></td>
        </tr>
          <tr>
            <th scope="row">Date de début::</th>
            <td><%= @booking.start %></td>
          </tr>
        <tr>
            <th scope="row">Date de fin:</th>
            <td><%= @booking.end %></td>
        </tr>
        <tr>
            <th scope="row">Description:</th>
            <td><%= @booking.bot.description %></td>
        </tr>
        <tr>
            <th scope="row">Montant total TTC:</th>
            <td colspan="2">$<%= (@booking.end - @booking.start).to_i * @booking.bot.price %></td>
        </tr>
        </tbody>
    </table>

  <%= cl_image_tag @booking.bot.photo.key, class:"img-fluid" %>

    <div class="text-center">
    <br>
  <button type="button" class="btn btn-secondary btn-lg"><%= link_to 'Mes réservations', bookings_path%></button>
 </div>
  </div>
</div>
