
<%# A styliser %>
<%= link_to "Add a new bot", new_bot_path, class: "btn btn-flat" %>

<%# Container %>
<div class="container">
  <div class="cards">
  <% @bots.each do |bot| %>
    <div class="card">
          <!-- Slider main container -->
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <div>
            <%= cl_image_tag bot.photo.key, class:"card__img", crop: :fill %>
            </div>
          </div>
          <div class="swiper-slide"><img src="https://c.tenor.com/4gNe9c2RVZIAAAAd/tenor.gif" alt=""></div>
          <div class="swiper-slide">
          <div style="width: 100%; height: 400px;"
  data-controller="map"
  data-map-markers-value="<%= [@markers.find{|marker| marker[:bot_id] == bot.id}].to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
          </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
        <div>
        <%= link_to bot_path(bot), class:"card__link" do %>
        <%= bot.name %>
        <% end %>
        </div>
    </div>
  <% end %>

  </div>
</div>
<div style="width: 100%; height: 400px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<script>
const swiper = new Swiper('.swiper', {
  // Optional parameters
  // direction: 'vertical',
  loop: true,

  // pagination
  pagination: {
    el: '.swiper-pagination',
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },
});
</script>
