
<div>
<div class="show-card">
  <div class="left">
    <div class="">
      <%= cl_image_tag @bot.photo.key %>
      <div class="">
        <div>
          <h2><%= @bot.name%></h2>
          <p><%= @bot.description %></p>
          <p>Rating <%= @bot.rating %></p>
        </div>
          <h2 class="">$<%= @bot.price %></h2>
      </div>
    </div>

  </div>

  <div class="right">
  <img src="http://urbandan.weebly.com/uploads/2/8/4/4/28444409/308667151.gif" alt="">
  </div>
</div>
      <div>
        <p><%= link_to "Go back to all bots list", bots_path %></p>
      </div>
</div>
