<div class="card-trip">
  <%= cl_image_tag @bot.photo.key %>
  <div class="card-trip-infos">
    <div>
      <h2><%= @bot.name%></h2>
      <p><%= @bot.description %></p>
      <p>Rating <%= @bot.rating %></p>
      <p><%= @bot.address %></p>
    </div>
    <h2 class="card-trip-pricing">$<%= @bot.price %></h2>

  </div>
</div>
<div style="width: 100%; height: 400px;"
  data-controller="map"
  data-map-markers-value="<%= [@marker.find{|marker| marker[:bot_id] == bot.id}].to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
          </div>
<div class="container">
<p><%= link_to "Go back to all bots list", bots_path %></p>
</div>
